<section class="home-section">
  <div class="container">
    <div class="hero-content">
      <div class="hero-text">
        <h1 class="slide-up">
          Hi, I'm <span class="text-gradient">MecryTv</span>
        </h1>
        <h2 class="slide-up delay-1">
          Software <span class="white-text">Developer</span> for:
        </h2>
        <div class="changing-text slide-up delay-2">
          <span class="changing-item">Discord Bots</span>
          <span class="changing-item">Webseiten</span>
          <span class="changing-item">Minecraft Plugins</span>
          <span class="changing-item">FiveM Scripts</span>
        </div>
        <p class="slide-up delay-2">
          I specialize in developing custom Discord Bots, responsive Webseiten,
          Minecraft Plugins and FiveM Scripts
        </p>
      </div>
      <div class="hero-image fade-in">
        <div class="blob"></div>
        <div class="profile-image">
          <img src="/MyLogo.png" alt="My Logo" class="my-logo" />
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-down">
    <span>Scroll Down</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M12 5v14"></path>
      <path d="m19 12-7 7-7-7"></path>
    </svg>
  </div>
</section>
